@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@400;700&display=swap");

:root {
    --bg-gradient: linear-gradient(to right bottom, #fbdb89, #f48982);
    --orange: #f48982;
    --gray-1: #eee;
    --gray-2: rgba(245, 245, 245, 0.589);
    --gray-3: rgb(250, 244, 244);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    transition: 300ms ease;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: var(--bg-gradient);
}

a {
    text-decoration: none;
    color: inherit;
}

a.active li {
    background: #eee;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    background: transparent;
    display: inline-block;
}

input,
textarea {
    font-family: inherit;
    color: inherit;
    border: none;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: currentColor;
}

img {
    display: block;
}

.message{
    display:none;
}

@media only screen and (max-width: 900px) {
    #root {
        display: none;
    }

    .message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        text-align:center;
        color:white;
        display:grid;
        place-items: center;
    }
}
